In [1]:
import pandas as pd
import os
import sys
sys.path.insert(0, os.path.abspath('../lib'))
import c19all

In [2]:
df_deaths = c19all.df_all['deaths']
print(df_deaths.shape)
df_deaths.head()

(23232, 7)

        date  day  deaths province_state      country      lat     long
0 2020-01-22    0       0            NaN  Afghanistan  33.0000  65.0000
1 2020-01-22    0       0            NaN      Albania  41.1533  20.1683
2 2020-01-22    0       0            NaN      Algeria  28.0339   1.6596
3 2020-01-22    0       0            NaN      Andorra  42.5063   1.5218
4 2020-01-22    0       0            NaN       Angola -11.2027  17.8739

In [3]:
df_cases = c19all.df_all['cases']
print(df_cases.shape)
df_cases.head()

(23232, 7)

        date  day  cases province_state      country      lat     long
0 2020-01-22    0      0            NaN  Afghanistan  33.0000  65.0000
1 2020-01-22    0      0            NaN      Albania  41.1533  20.1683
2 2020-01-22    0      0            NaN      Algeria  28.0339   1.6596
3 2020-01-22    0      0            NaN      Andorra  42.5063   1.5218
4 2020-01-22    0      0            NaN       Angola -11.2027  17.8739

In [4]:
df_cases = df_cases[['date','day','cases','country']]\
    .groupby(['date', 'day','country'])\
    .sum()\
    .reset_index()

df_deaths = df_deaths[['date','day','deaths','country']]\
    .groupby(['date', 'day','country'])\
    .sum()\
    .reset_index()

In [5]:
daily_data = pd.merge(df_cases, df_deaths, on=['date','day','country'], how='left')
print(daily_data.shape)
daily_data.head()

(16280, 5)

        date  day      country  cases  deaths
0 2020-01-22    0  Afghanistan      0       0
1 2020-01-22    0      Albania      0       0
2 2020-01-22    0      Algeria      0       0
3 2020-01-22    0      Andorra      0       0
4 2020-01-22    0       Angola      0       0

In [6]:
# daily_data.to_csv('../../covid-19/data/daily_data_world.csv', index=False)

In [7]:
# print(pd.read_csv('daily_data_world.csv').shape)
# pd.read_csv('daily_data_world.csv').head()

In [8]:
name_changes_dict = {'Congo, Democratic Republic of the': 'Congo (Kinshasa)',
                     'Congo, Republic of the': 'Congo (Brazzaville)',
                     'Czech Republic': 'Czechia',
                     'Taiwan': 'Taiwan*',
                     'Gambia, The': 'Gambia',
                     'Swaziland': 'Eswatini',
                     'United States': 'US'}

codes = pd.read_csv('../../general_data/original_country_codes.csv')
for k in name_changes_dict.keys():
        codes.loc[codes.country==k,'country'] = name_changes_dict[k]

In [9]:
df = pd.merge(daily_data, codes, on='country', how='left')
df.columns = ['Date', 'Day', 'Country', 'Cases', 'Deaths', 'Code']

In [10]:
change_names_back = {'Congo, Democratic Republic of the': 'Congo (Kinshasa)',
                     'Congo, Republic of the': 'Congo (Brazzaville)',
                     'Czechia': 'Czech Republic',
                     'Taiwan*': 'Taiwan',
                     'Gambia, The': 'Gambia',
                     'Eswatini': 'Swaziland',
                     'US': 'United States'}

for k in change_names_back.keys():
        df.loc[df.Country==k,'Country'] = change_names_back[k]

In [11]:
df.to_csv('../../covid-19/data/world_data_with_codes.csv', index=False)

In [12]:
print(pd.read_csv('../../covid-19/data/world_data_with_codes.csv').shape)
pd.read_csv('../../covid-19/data/world_data_with_codes.csv').head()

(16280, 6)

         Date  Day      Country  Cases  Deaths Code
0  2020-01-22    0  Afghanistan      0       0  AFG
1  2020-01-22    0      Albania      0       0  ALB
2  2020-01-22    0      Algeria      0       0  DZA
3  2020-01-22    0      Andorra      0       0  AND
4  2020-01-22    0       Angola      0       0  AGO

In [13]:
df.Date.min(), df.Date.max()

(Timestamp('2020-01-22 00:00:00'), Timestamp('2020-04-18 00:00:00'))

In [14]:
# set(df.Country)