In [1]:
import pandas as pd
import os
import sys
sys.path.insert(0, os.path.abspath('../lib'))
from c19us_nyt import df_us as df_nyt
from c19us_jhu import df_us as df_jhu
import numpy as np

In [2]:
df_nyt = df_nyt.reset_index()[['date','fips','day','county','state','cases','deaths']]
print(df_nyt.shape)
df_nyt.head()

(91470, 7)

        date   fips  day     county       state  cases  deaths
0 2020-01-21  53061    0  Snohomish  Washington      1       0
1 2020-01-22  53061    1  Snohomish  Washington      1       0
2 2020-01-23  53061    2  Snohomish  Washington      1       0
3 2020-01-24  17031    3       Cook    Illinois      1       0
4 2020-01-24  53061    3  Snohomish  Washington      1       0

In [3]:
df_nyt = df_nyt.groupby(['date','fips','day','county','state']).sum().reset_index()
print(df_nyt.shape)
df_nyt.head()

(91470, 7)

        date   fips  day     county       state  cases  deaths
0 2020-01-21  53061    0  Snohomish  Washington      1       0
1 2020-01-22  53061    1  Snohomish  Washington      1       0
2 2020-01-23  53061    2  Snohomish  Washington      1       0
3 2020-01-24  17031    3       Cook    Illinois      1       0
4 2020-01-24  53061    3  Snohomish  Washington      1       0

In [4]:
df_jhu = df_jhu.reset_index()[['date','fips','day','county','state','cases','deaths','recovered','active']]
print(df_jhu.shape)
df_jhu.head()

(98390, 9)

,date,fips,day,county,state,cases,deaths,recovered,active
0,2020-03-22,36061,0,New York City,New York,9654,63,0,0
1,2020-03-22,36059,0,Nassau,New York,1900,4,0,0
2,2020-03-22,36119,0,Westchester,New York,1873,0,0,0
3,2020-03-22,36103,0,Suffolk,New York,1034,9,0,0
4,2020-03-22,36087,0,Rockland,New York,455,1,0,0

In [5]:
df_jhu = df_jhu.groupby(['date','fips','day','county','state']).sum().reset_index()
print(df_jhu.shape)
df_jhu.head()

(98375, 9)

        date  fips  day   county    state  cases  deaths  recovered  active
0 2020-03-22  1001    0  Autauga  Alabama      0       0          0       0
1 2020-03-22  1003    0  Baldwin  Alabama      2       0          0       0
2 2020-03-22  1005    0  Barbour  Alabama      0       0          0       0
3 2020-03-22  1007    0     Bibb  Alabama      0       0          0       0
4 2020-03-22  1009    0   Blount  Alabama      0       0          0       0

In [6]:
states = pd.read_csv('../../covid-19/data/state_codes.csv')
states.head()

  Code       State
0   AL     Alabama
1   AK      Alaska
2   AZ     Arizona
3   AR    Arkansas
4   CA  California

In [7]:
df = pd.merge(df_nyt, df_jhu, on=['date','fips','day','county','state'], how='outer')\
    .sort_values('date')
print(df.shape)
df.head()

(189845, 11)

,date,fips,day,county,state,cases_x,deaths_x,cases_y,deaths_y,recovered,active
0,2020-01-21,53061,0,Snohomish,Washington,1.0,0.0,NaN,NaN,NaN,NaN
1,2020-01-22,53061,1,Snohomish,Washington,1.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-23,53061,2,Snohomish,Washington,1.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-24,17031,3,Cook,Illinois,1.0,0.0,NaN,NaN,NaN,NaN
4,2020-01-24,53061,3,Snohomish,Washington,1.0,0.0,NaN,NaN,NaN,NaN

In [8]:
# df

In [9]:
df.loc[df.county=='New York City','cases_x'] = df.loc[df.county=='New York City','cases_y']

In [10]:
df = df[(df.cases_x.isna()==False)]

In [11]:
df = df[df.cases_x.isna()==False]

In [12]:
df['cases'] = df['cases_y'].fillna(df['cases_x'])
df['deaths'] = df['deaths_y'].fillna(df['deaths_x'])
df = df.drop(['cases_x','cases_y','deaths_x','deaths_y'], axis=1)
df['recovered'] = df['recovered'].map(lambda x: np.nan if np.isnan(x) else int(x))
df['active'] = df['active'].map(lambda x: np.nan if np.isnan(x) else int(x))
df['cases'] = df['cases'].map(lambda x: np.nan if np.isnan(x) else int(x))
df['deaths'] = df['deaths'].map(lambda x: np.nan if np.isnan(x) else int(x))
print(df.shape)
df.head()

(91506, 9)

,date,fips,day,county,state,recovered,active,cases,deaths
0,2020-01-21,53061,0,Snohomish,Washington,NaN,NaN,1,0
1,2020-01-22,53061,1,Snohomish,Washington,NaN,NaN,1,0
2,2020-01-23,53061,2,Snohomish,Washington,NaN,NaN,1,0
3,2020-01-24,17031,3,Cook,Illinois,NaN,NaN,1,0
4,2020-01-24,53061,3,Snohomish,Washington,NaN,NaN,1,0

In [13]:
df = df.reset_index()[['date','fips','day','county','state','recovered','active','cases','deaths']]
df.columns = ['Date','FIPS','Day','County','State','Recovered','Active','Cases','Deaths']
print(df.shape)
df.head()

(91506, 9)

,Date,FIPS,Day,County,State,Recovered,Active,Cases,Deaths
0,2020-01-21,53061,0,Snohomish,Washington,NaN,NaN,1,0
1,2020-01-22,53061,1,Snohomish,Washington,NaN,NaN,1,0
2,2020-01-23,53061,2,Snohomish,Washington,NaN,NaN,1,0
3,2020-01-24,17031,3,Cook,Illinois,NaN,NaN,1,0
4,2020-01-24,53061,3,Snohomish,Washington,NaN,NaN,1,0

In [42]:
df_ = pd.merge(df,states,on='State',how='left')

In [43]:
# indexNames = df_[df_['County'].isin(['Bronx','Queens','Manhattan','Staten Island','Brooklyn'])].index
# df_.drop(indexNames , inplace=True)

In [94]:
all_counties = pd.read_csv('../../covid-19/data/county_fips.csv')
all_counties['County'] = all_counties.County.map(lambda x: x.replace('County','').strip())
all_counties.head()

   FIPS         County Code
0     0  UNITED STATES  NaN
1  1000        ALABAMA  NaN
2  1001        Autauga   AL
3  1003        Baldwin   AL
4  1005        Barbour   AL

In [45]:
all_counties.loc[all_counties['County']=='Queens',:]

       FIPS  County Code
1902  36081  Queens   NY

In [46]:
all_counties.loc[all_counties['County']=='Bronx',:]

       FIPS County Code
1864  36005  Bronx   NY

In [47]:
all_counties.loc[all_counties['County']=='Kings',:]

       FIPS County Code
207    6031  Kings   CA
1885  36047  Kings   NY

In [48]:
all_counties.loc[all_counties['County']=='Richmond',:]

       FIPS    County Code
519   13245  Richmond   GA
1904  36085  Richmond   NY
2001  37153  Richmond   NC
2943  51159  Richmond   VA

In [49]:
all_counties[all_counties['FIPS']==36061]

       FIPS    County Code
1892  36061  New York   NY

In [95]:
all_counties.loc[all_counties['FIPS']==36061,'County'] = 'Manhattan'

In [96]:
NY_Burrows = ['Manhattan','Queens','Kings','Bronx','Richmond']
NY_Burrow_fips = [36061,36081,36047,36005,36085]

for d in sorted(set(df_['Date'])):
    print('Testing... ' + f'../../covid-19/data/county_data/date_{str(d).split(" ")[0]}.csv')
    dff = df_[df_['Date'] == d]
    if 'New York City' in dff['County'].tolist():
        for c, f in zip(NY_Burrows, NY_Burrow_fips):
            new_row = dff.copy()[dff['County']=='New York City'].reset_index(drop=True)
            new_row.loc[0,['FIPS',
                           'County',
                           'Recovered',
                           'Active',
                           'Cases',
                           'Deaths']] = [f,
                                          c, 
                                          new_row.loc[0,'Recovered']/5,
                                          new_row.loc[0,'Active']/5,
                                          new_row.loc[0,'Cases']/5,
                                          new_row.loc[0,'Deaths']/5
                                         ]
#             print(new_row)
            dff = dff.append(new_row, ignore_index=True)
        dff = dff.loc[np.where(dff['County']!='New York City')]
#         print(dff[dff['Code']=='NY'].sort_values(by='County'))
        
    added_counties = pd.merge(dff, all_counties, how='right', on='FIPS')
    print(added_counties.loc[added_counties['County_x'].isin(NY_Burrows+['New York City'])])
    added_counties = added_counties.drop(['County_x','Code_x'], axis=1)
    added_counties.columns = ['Date','FIPS','Day','State','Recovered','Active','Cases','Deaths','County','Code']
    added_counties['Cases'] = added_counties['Cases'].map(lambda x: 0 if np.isnan(x) else int(x))
    added_counties['Deaths'] = added_counties['Deaths'].map(lambda x: 0 if np.isnan(x) else int(x))
    added_counties['FIPS'] = added_counties['FIPS'].map(lambda x: '0' + str(x) if (int(x) <= 9999) else str(x))

    added_counties.to_csv(f'../../covid-19/data/county_data/date_{str(d).split(" ")[0]}.csv', index=False)

Testing... ../../covid-19/data/county_data/date_2020-01-21.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-22.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-23.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-24.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-25.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-26.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-27.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-28.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-29.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-30.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-01-31.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-01.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-02.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-03.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-04.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-05.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-06.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-07.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-08.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-09.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-10.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-11.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-12.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-13.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-14.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-15.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-16.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-17.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-18.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-19.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-20.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-21.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-22.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-23.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-24.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-25.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-26.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-27.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-28.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-02-29.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-01.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-02.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-03.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-04.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []

Testing... ../../covid-19/data/county_data/date_2020-03-05.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-06.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-07.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-08.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-09.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-10.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-11.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-12.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-13.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-14.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-15.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-16.csv
Empty DataFrame
Columns: [Date, FIPS, Day, County_x, State, Recovered, Active, Cases, Deaths, Code_x, County_y, Code_y]
Index: []
Testing... ../../covid-19/data/county_data/date_2020-03-17.csv
          Date   FIPS   Day  County_x    State  Recovered  Active  Cases  \
440 2020-03-17  13245  56.0  Richmond  Georgia        NaN     NaN    1.0

     Deaths Code_x  County_y Code_y
440     0.0     GA  Richmond     GA
Testing... ../../covid-19/data/county_data/date_2020-03-18.csv
          Date   FIPS   Day  County_x    State  Recovered  Active  Cases  \
367 2020-03-18  13245  57.0  Richmond  Georgia        NaN     NaN    2.0

     Deaths Code_x  County_y Code_y
367     0.0     GA  Richmond     GA
Testing... ../../covid-19/data/county_data/date_2020-03-19.csv
          Date   FIPS   Day  County_x    State  Recovered  Active  Cases  \
443 2020-03-19  13245  58.0  Richmond  Georgia        NaN     NaN    3.0

     Deaths Code_x  County_y Code_y
443     0.0     GA  Richmond     GA
Testing... ../../covid-19/data/county_data/date_2020-03-20.csv
          Date   FIPS   Day  County_x    State  Recovered  Active  Cases  \
531 2020-03-20  13245  59.0  Richmond  Georgia        NaN     NaN    9.0

     Deaths Code_x  County_y Code_y
531     0.0     GA  Richmond     GA
Testing... ../../covid-19/data/county_data/date_2020-03-21.csv
          Date   FIPS   Day  County_x    State  Recovered  Active  Cases  \
578 2020-03-21  13245  60.0  Richmond  Georgia        NaN     NaN   10.0

     Deaths Code_x  County_y Code_y
578     0.0     GA  Richmond     GA
Testing... ../../covid-19/data/county_data/date_2020-03-22.csv
           Date   FIPS   Day   County_x     State  Recovered  Active   Cases  \
685  2020-03-22  13245  61.0   Richmond   Georgia        NaN     NaN    10.0
1118 2020-03-22  36061   0.0  Manhattan  New York        0.0     0.0  1930.8
1119 2020-03-22  36081   0.0     Queens  New York        0.0     0.0  1930.8
1120 2020-03-22  36047   0.0      Kings  New York        0.0     0.0  1930.8
1121 2020-03-22  36005   0.0      Bronx  New York        0.0     0.0  1930.8
1122 2020-03-22  36085   0.0   Richmond  New York        0.0     0.0  1930.8

      Deaths Code_x   County_y Code_y
685      0.0     GA   Richmond     GA
1118    12.6     NY  Manhattan     NY
1119    12.6     NY     Queens     NY
1120    12.6     NY      Kings     NY
1121    12.6     NY      Bronx     NY
1122    12.6     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-23.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
270  2020-03-23  37153  62.0   Richmond  North Carolina        NaN     NaN
858  2020-03-23  13245  62.0   Richmond         Georgia        NaN     NaN
1204 2020-03-23  36061   1.0  Manhattan        New York        0.0     0.0
1205 2020-03-23  36081   1.0     Queens        New York        0.0     0.0
1206 2020-03-23  36047   1.0      Kings        New York        0.0     0.0
1207 2020-03-23  36005   1.0      Bronx        New York        0.0     0.0
1208 2020-03-23  36085   1.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
270      1.0     0.0     NC   Richmond     NC
858     11.0     0.0     GA   Richmond     GA
1204  2461.0    19.8     NY  Manhattan     NY
1205  2461.0    19.8     NY     Queens     NY
1206  2461.0    19.8     NY      Kings     NY
1207  2461.0    19.8     NY      Bronx     NY
1208  2461.0    19.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-24.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
276  2020-03-24  37153  63.0   Richmond  North Carolina        NaN     NaN
476  2020-03-24  13245  63.0   Richmond         Georgia        NaN     NaN
1335 2020-03-24  36061   2.0  Manhattan        New York        0.0     0.0
1336 2020-03-24  36081   2.0     Queens        New York        0.0     0.0
1337 2020-03-24  36047   2.0      Kings        New York        0.0     0.0
1338 2020-03-24  36005   2.0      Bronx        New York        0.0     0.0
1339 2020-03-24  36085   2.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
276      1.0     0.0     NC   Richmond     NC
476     11.0     0.0     GA   Richmond     GA
1335  2980.8    26.2     NY  Manhattan     NY
1336  2980.8    26.2     NY     Queens     NY
1337  2980.8    26.2     NY      Kings     NY
1338  2980.8    26.2     NY      Bronx     NY
1339  2980.8    26.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-25.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
91   2020-03-25  37153  64.0   Richmond  North Carolina        NaN     NaN
941  2020-03-25  13245  64.0   Richmond         Georgia        NaN     NaN
1515 2020-03-25  36061   3.0  Manhattan        New York        0.0     0.0
1516 2020-03-25  36081   3.0     Queens        New York        0.0     0.0
1517 2020-03-25  36047   3.0      Kings        New York        0.0     0.0
1518 2020-03-25  36005   3.0      Bronx        New York        0.0     0.0
1519 2020-03-25  36085   3.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
91       1.0     0.0     NC   Richmond     NC
941     11.0     0.0     GA   Richmond     GA
1515  3571.2    39.8     NY  Manhattan     NY
1516  3571.2    39.8     NY     Queens     NY
1517  3571.2    39.8     NY      Kings     NY
1518  3571.2    39.8     NY      Bronx     NY
1519  3571.2    39.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-26.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
535  2020-03-26  13245  65.0   Richmond         Georgia        NaN     NaN
1295 2020-03-26  37153  65.0   Richmond  North Carolina        NaN     NaN
1642 2020-03-26  36061   4.0  Manhattan        New York        0.0     0.0
1643 2020-03-26  36081   4.0     Queens        New York        0.0     0.0
1644 2020-03-26  36047   4.0      Kings        New York        0.0     0.0
1645 2020-03-26  36005   4.0      Bronx        New York        0.0     0.0
1646 2020-03-26  36085   4.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
535     11.0     0.0     GA   Richmond     GA
1295     1.0     0.0     NC   Richmond     NC
1642  4374.6    56.2     NY  Manhattan     NY
1643  4374.6    56.2     NY     Queens     NY
1644  4374.6    56.2     NY      Kings     NY
1645  4374.6    56.2     NY      Bronx     NY
1646  4374.6    56.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-27.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
313  2020-03-27  13245  66.0   Richmond         Georgia        NaN     NaN
468  2020-03-27   6031  66.0      Kings      California        NaN     NaN
969  2020-03-27  37153  66.0   Richmond  North Carolina        NaN     NaN
1763 2020-03-27  36061   5.0  Manhattan        New York        0.0     0.0
1764 2020-03-27  36081   5.0     Queens        New York        0.0     0.0
1765 2020-03-27  36047   5.0      Kings        New York        0.0     0.0
1766 2020-03-27  36005   5.0      Bronx        New York        0.0     0.0
1767 2020-03-27  36085   5.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
313     11.0     0.0     GA   Richmond     GA
468      1.0     0.0     CA      Kings     CA
969      1.0     0.0     NC   Richmond     NC
1763  5114.6    73.2     NY  Manhattan     NY
1764  5114.6    73.2     NY     Queens     NY
1765  5114.6    73.2     NY      Kings     NY
1766  5114.6    73.2     NY      Bronx     NY
1767  5114.6    73.2     NY   Richmond     NY

Testing... ../../covid-19/data/county_data/date_2020-03-28.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
172  2020-03-28  37153  67.0   Richmond  North Carolina        NaN     NaN
1400 2020-03-28  13245  67.0   Richmond         Georgia        NaN     NaN
1604 2020-03-28   6031  67.0      Kings      California        NaN     NaN
1868 2020-03-28  36061   6.0  Manhattan        New York        0.0     0.0
1869 2020-03-28  36081   6.0     Queens        New York        0.0     0.0
1870 2020-03-28  36047   6.0      Kings        New York        0.0     0.0
1871 2020-03-28  36005   6.0      Bronx        New York        0.0     0.0
1872 2020-03-28  36085   6.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
172      1.0     0.0     NC   Richmond     NC
1400    12.0     0.0     GA   Richmond     GA
1604     1.0     0.0     CA      Kings     CA
1868  5955.2   103.4     NY  Manhattan     NY
1869  5955.2   103.4     NY     Queens     NY
1870  5955.2   103.4     NY      Kings     NY
1871  5955.2   103.4     NY      Bronx     NY
1872  5955.2   103.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-29.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
78   2020-03-29   6031  68.0      Kings      California        NaN     NaN
232  2020-03-29  37153  68.0   Richmond  North Carolina        NaN     NaN
1573 2020-03-29  13245  68.0   Richmond         Georgia        NaN     NaN
1956 2020-03-29  36061   7.0  Manhattan        New York        0.0     0.0
1957 2020-03-29  36081   7.0     Queens        New York        0.0     0.0
1958 2020-03-29  36047   7.0      Kings        New York        0.0     0.0
1959 2020-03-29  36005   7.0      Bronx        New York        0.0     0.0
1960 2020-03-29  36085   7.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
78       2.0     0.0     CA      Kings     CA
232      1.0     0.0     NC   Richmond     NC
1573    12.0     0.0     GA   Richmond     GA
1956  6753.6   135.6     NY  Manhattan     NY
1957  6753.6   135.6     NY     Queens     NY
1958  6753.6   135.6     NY      Kings     NY
1959  6753.6   135.6     NY      Bronx     NY
1960  6753.6   135.6     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-30.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
195  2020-03-30   6031  69.0      Kings      California        NaN     NaN
503  2020-03-30  13245  69.0   Richmond         Georgia        NaN     NaN
1352 2020-03-30  37153  69.0   Richmond  North Carolina        NaN     NaN
2057 2020-03-30  36061   8.0  Manhattan        New York        0.0     0.0
2058 2020-03-30  36081   8.0     Queens        New York        0.0     0.0
2059 2020-03-30  36047   8.0      Kings        New York        0.0     0.0
2060 2020-03-30  36005   8.0      Bronx        New York        0.0     0.0
2061 2020-03-30  36085   8.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
195      3.0     0.0     CA      Kings     CA
503     17.0     0.0     GA   Richmond     GA
1352     1.0     0.0     NC   Richmond     NC
2057  7490.6   158.0     NY  Manhattan     NY
2058  7490.6   158.0     NY     Queens     NY
2059  7490.6   158.0     NY      Kings     NY
2060  7490.6   158.0     NY      Bronx     NY
2061  7490.6   158.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-03-31.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
71   2020-03-31  37153  70.0   Richmond  North Carolina        NaN     NaN
1290 2020-03-31  13245  70.0   Richmond         Georgia        NaN     NaN
1551 2020-03-31   6031  70.0      Kings      California        NaN     NaN
2137 2020-03-31  36061   9.0  Manhattan        New York        0.0     0.0
2138 2020-03-31  36081   9.0     Queens        New York        0.0     0.0
2139 2020-03-31  36047   9.0      Kings        New York        0.0     0.0
2140 2020-03-31  36005   9.0      Bronx        New York        0.0     0.0
2141 2020-03-31  36085   9.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
71       1.0     0.0     NC   Richmond     NC
1290    40.0     0.0     GA   Richmond     GA
1551     4.0     0.0     CA      Kings     CA
2137  8623.8   186.4     NY  Manhattan     NY
2138  8623.8   186.4     NY     Queens     NY
2139  8623.8   186.4     NY      Kings     NY
2140  8623.8   186.4     NY      Bronx     NY
2141  8623.8   186.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-01.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
741  2020-04-01  37153  71.0   Richmond  North Carolina        NaN     NaN
930  2020-04-01  13245  71.0   Richmond         Georgia        NaN     NaN
1275 2020-04-01   6031  71.0      Kings      California        NaN     NaN
2201 2020-04-01  36061  10.0  Manhattan        New York        0.0     0.0
2202 2020-04-01  36081  10.0     Queens        New York        0.0     0.0
2203 2020-04-01  36047  10.0      Kings        New York        0.0     0.0
2204 2020-04-01  36005  10.0      Bronx        New York        0.0     0.0
2205 2020-04-01  36085  10.0   Richmond        New York        0.0     0.0

       Cases  Deaths Code_x   County_y Code_y
741      1.0     0.0     NC   Richmond     NC
930     41.0     0.0     GA   Richmond     GA
1275     4.0     0.0     CA      Kings     CA
2201  9487.8   227.8     NY  Manhattan     NY
2202  9487.8   227.8     NY     Queens     NY
2203  9487.8   227.8     NY      Kings     NY
2204  9487.8   227.8     NY      Bronx     NY
2205  9487.8   227.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-02.csv
           Date   FIPS   Day   County_x       State  Recovered  Active  \
114  2020-04-02   6031  72.0      Kings  California        NaN     NaN
1948 2020-04-02  13245  72.0   Richmond     Georgia        NaN     NaN
2263 2020-04-02  36061  11.0  Manhattan    New York        0.0     0.0
2264 2020-04-02  36081  11.0     Queens    New York        0.0     0.0
2265 2020-04-02  36047  11.0      Kings    New York        0.0     0.0
2266 2020-04-02  36005  11.0      Bronx    New York        0.0     0.0
2267 2020-04-02  36085  11.0   Richmond    New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
114       5.0     0.0     CA      Kings     CA
1948     42.0     1.0     GA   Richmond     GA
2263  10361.8   279.4     NY  Manhattan     NY
2264  10361.8   279.4     NY     Queens     NY
2265  10361.8   279.4     NY      Kings     NY
2266  10361.8   279.4     NY      Bronx     NY
2267  10361.8   279.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-03.csv
           Date   FIPS   Day   County_x       State  Recovered  Active  \
981  2020-04-03   6031  73.0      Kings  California        NaN     NaN
1351 2020-04-03  13245  73.0   Richmond     Georgia        NaN     NaN
1796 2020-04-03  51159  73.0   Richmond    Virginia        NaN     NaN
2326 2020-04-03  36061  12.0  Manhattan    New York        0.0     0.0
2327 2020-04-03  36081  12.0     Queens    New York        0.0     0.0
2328 2020-04-03  36047  12.0      Kings    New York        0.0     0.0
2329 2020-04-03  36005  12.0      Bronx    New York        0.0     0.0
2330 2020-04-03  36085  12.0   Richmond    New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
981       5.0     0.0     CA      Kings     CA
1351     49.0     1.0     GA   Richmond     GA
1796      1.0     0.0     VA   Richmond     VA
2326  11431.8   316.8     NY  Manhattan     NY
2327  11431.8   316.8     NY     Queens     NY
2328  11431.8   316.8     NY      Kings     NY
2329  11431.8   316.8     NY      Bronx     NY
2330  11431.8   316.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-04.csv

           Date   FIPS   Day   County_x       State  Recovered  Active  \
87   2020-04-04   6031  74.0      Kings  California        NaN     NaN
1722 2020-04-04  13245  74.0   Richmond     Georgia        NaN     NaN
2266 2020-04-04  51159  74.0   Richmond    Virginia        NaN     NaN
2373 2020-04-04  36061  13.0  Manhattan    New York        0.0     0.0
2374 2020-04-04  36081  13.0     Queens    New York        0.0     0.0
2375 2020-04-04  36047  13.0      Kings    New York        0.0     0.0
2376 2020-04-04  36005  13.0      Bronx    New York        0.0     0.0
2377 2020-04-04  36085  13.0   Richmond    New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
87        5.0     0.0     CA      Kings     CA
1722     51.0     1.0     GA   Richmond     GA
2266      1.0     0.0     VA   Richmond     VA
2373  12661.2   381.0     NY  Manhattan     NY
2374  12661.2   381.0     NY     Queens     NY
2375  12661.2   381.0     NY      Kings     NY
2376  12661.2   381.0     NY      Bronx     NY
2377  12661.2   381.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-05.csv
           Date   FIPS   Day   County_x       State  Recovered  Active  \
182  2020-04-05  13245  75.0   Richmond     Georgia        NaN     NaN
476  2020-04-05   6031  75.0      Kings  California        NaN     NaN
1826 2020-04-05  51159  75.0   Richmond    Virginia        NaN     NaN
2413 2020-04-05  36061  14.0  Manhattan    New York        0.0     0.0
2414 2020-04-05  36081  14.0     Queens    New York        0.0     0.0
2415 2020-04-05  36047  14.0      Kings    New York        0.0     0.0
2416 2020-04-05  36005  14.0      Bronx    New York        0.0     0.0
2417 2020-04-05  36085  14.0   Richmond    New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
182      51.0     1.0     GA   Richmond     GA
476       5.0     0.0     CA      Kings     CA
1826      1.0     0.0     VA   Richmond     VA
2413  13510.2   451.2     NY  Manhattan     NY
2414  13510.2   451.2     NY     Queens     NY
2415  13510.2   451.2     NY      Kings     NY
2416  13510.2   451.2     NY      Bronx     NY
2417  13510.2   451.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-06.csv
           Date   FIPS   Day   County_x       State  Recovered  Active  \
1291 2020-04-06   6031  76.0      Kings  California        NaN     NaN
1837 2020-04-06  51159  76.0   Richmond    Virginia        NaN     NaN
2183 2020-04-06  13245  76.0   Richmond     Georgia        NaN     NaN
2459 2020-04-06  36061  15.0  Manhattan    New York        0.0     0.0
2460 2020-04-06  36081  15.0     Queens    New York        0.0     0.0
2461 2020-04-06  36047  15.0      Kings    New York        0.0     0.0
2462 2020-04-06  36005  15.0      Bronx    New York        0.0     0.0
2463 2020-04-06  36085  15.0   Richmond    New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
1291      5.0     0.0     CA      Kings     CA
1837      1.0     0.0     VA   Richmond     VA
2183     56.0     1.0     GA   Richmond     GA
2459  14436.2   697.0     NY  Manhattan     NY
2460  14436.2   697.0     NY     Queens     NY
2461  14436.2   697.0     NY      Kings     NY
2462  14436.2   697.0     NY      Bronx     NY
2463  14436.2   697.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-07.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
1037 2020-04-07  13245  77.0   Richmond         Georgia        NaN     NaN
1150 2020-04-07   6031  77.0      Kings      California        NaN     NaN
1338 2020-04-07  51159  77.0   Richmond        Virginia        NaN     NaN
2247 2020-04-07  37153  77.0   Richmond  North Carolina        NaN     NaN
2512 2020-04-07  36061  16.0  Manhattan        New York        0.0     0.0
2513 2020-04-07  36081  16.0     Queens        New York        0.0     0.0
2514 2020-04-07  36047  16.0      Kings        New York        0.0     0.0
2515 2020-04-07  36005  16.0      Bronx        New York        0.0     0.0
2516 2020-04-07  36085  16.0   Richmond        New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
1037     75.0     3.0     GA   Richmond     GA
1150      5.0     0.0     CA      Kings     CA
1338      2.0     0.0     VA   Richmond     VA
2247      1.0     0.0     NC   Richmond     NC
2512  15375.2   801.8     NY  Manhattan     NY
2513  15375.2   801.8     NY     Queens     NY
2514  15375.2   801.8     NY      Kings     NY
2515  15375.2   801.8     NY      Bronx     NY
2516  15375.2   801.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-08.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
1083 2020-04-08  51159  78.0   Richmond        Virginia        NaN     NaN
1431 2020-04-08  37153  78.0   Richmond  North Carolina        NaN     NaN
1915 2020-04-08   6031  78.0      Kings      California        NaN     NaN
2327 2020-04-08  13245  78.0   Richmond         Georgia        NaN     NaN
2538 2020-04-08  36061  17.0  Manhattan        New York        0.0     0.0
2539 2020-04-08  36081  17.0     Queens        New York        0.0     0.0
2540 2020-04-08  36047  17.0      Kings        New York        0.0     0.0
2541 2020-04-08  36005  17.0      Bronx        New York        0.0     0.0
2542 2020-04-08  36085  17.0   Richmond        New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
1083      2.0     0.0     VA   Richmond     VA
1431      1.0     0.0     NC   Richmond     NC
1915      7.0     0.0     CA      Kings     CA
2327     79.0     3.0     GA   Richmond     GA
2538  16360.6   914.2     NY  Manhattan     NY
2539  16360.6   914.2     NY     Queens     NY
2540  16360.6   914.2     NY      Kings     NY
2541  16360.6   914.2     NY      Bronx     NY
2542  16360.6   914.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-09.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
86   2020-04-09  37153  79.0   Richmond  North Carolina        NaN     NaN
671  2020-04-09  51159  79.0   Richmond        Virginia        NaN     NaN
1312 2020-04-09  13245  79.0   Richmond         Georgia        NaN     NaN
1834 2020-04-09   6031  79.0      Kings      California        NaN     NaN
2566 2020-04-09  36061  18.0  Manhattan        New York        0.0     0.0
2567 2020-04-09  36081  18.0     Queens        New York        0.0     0.0
2568 2020-04-09  36047  18.0      Kings        New York        0.0     0.0
2569 2020-04-09  36005  18.0      Bronx        New York        0.0     0.0
2570 2020-04-09  36085  18.0   Richmond        New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
86        2.0     0.0     NC   Richmond     NC
671       3.0     0.0     VA   Richmond     VA
1312     89.0     4.0     GA   Richmond     GA
1834      7.0     0.0     CA      Kings     CA
2566  17405.6  1030.0     NY  Manhattan     NY
2567  17405.6  1030.0     NY     Queens     NY
2568  17405.6  1030.0     NY      Kings     NY
2569  17405.6  1030.0     NY      Bronx     NY
2570  17405.6  1030.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-10.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
88   2020-04-10  51159  80.0   Richmond        Virginia        NaN     NaN
1429 2020-04-10   6031  80.0      Kings      California        NaN     NaN
1972 2020-04-10  13245  80.0   Richmond         Georgia        NaN     NaN
2481 2020-04-10  37153  80.0   Richmond  North Carolina        NaN     NaN
2597 2020-04-10  36061  19.0  Manhattan        New York        0.0     0.0
2598 2020-04-10  36081  19.0     Queens        New York        0.0     0.0
2599 2020-04-10  36047  19.0      Kings        New York        0.0     0.0
2600 2020-04-10  36005  19.0      Bronx        New York        0.0     0.0
2601 2020-04-10  36085  19.0   Richmond        New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
88        5.0     0.0     VA   Richmond     VA
1429      9.0     0.0     CA      Kings     CA
1972    134.0     4.0     GA   Richmond     GA
2481      4.0     0.0     NC   Richmond     NC
2597  18476.8  1164.0     NY  Manhattan     NY
2598  18476.8  1164.0     NY     Queens     NY
2599  18476.8  1164.0     NY      Kings     NY
2600  18476.8  1164.0     NY      Bronx     NY
2601  18476.8  1164.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-11.csv
           Date   FIPS   Day   County_x           State  Recovered  Active  \
110  2020-04-11  37153  81.0   Richmond  North Carolina        NaN     NaN
660  2020-04-11  51159  81.0   Richmond        Virginia        NaN     NaN
1389 2020-04-11  13245  81.0   Richmond         Georgia        NaN     NaN
1919 2020-04-11   6031  81.0      Kings      California        NaN     NaN
2629 2020-04-11  36061  20.0  Manhattan        New York        0.0     0.0
2630 2020-04-11  36081  20.0     Queens        New York        0.0     0.0
2631 2020-04-11  36047  20.0      Kings        New York        0.0     0.0
2632 2020-04-11  36005  20.0      Bronx        New York        0.0     0.0
2633 2020-04-11  36085  20.0   Richmond        New York        0.0     0.0

        Cases  Deaths Code_x   County_y Code_y
110       7.0     1.0     NC   Richmond     NC
660       5.0     0.0     VA   Richmond     VA
1389    138.0     3.0     GA   Richmond     GA
1919     10.0     1.0     CA      Kings     CA
2629  19661.6  1273.4     NY  Manhattan     NY
2630  19661.6  1273.4     NY     Queens     NY
2631  19661.6  1273.4     NY      Kings     NY
2632  19661.6  1273.4     NY      Bronx     NY
2633  19661.6  1273.4     NY   Richmond     NY

Testing... ../../covid-19/data/county_data/date_2020-04-12.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
959  2020-04-12   6031  82.0      Kings      California        NaN      NaN
1150 2020-04-12  13245  82.0   Richmond         Georgia        NaN      NaN
1897 2020-04-12  51159  82.0   Richmond        Virginia        NaN      NaN
2044 2020-04-12  37153  82.0   Richmond  North Carolina        NaN      NaN
2649 2020-04-12  36061  21.0  Manhattan        New York        0.0  19262.0
2650 2020-04-12  36081  21.0     Queens        New York        0.0  19262.0
2651 2020-04-12  36047  21.0      Kings        New York        0.0  19262.0
2652 2020-04-12  36005  21.0      Bronx        New York        0.0  19262.0
2653 2020-04-12  36085  21.0   Richmond        New York        0.0  19262.0

        Cases  Deaths Code_x   County_y Code_y
959      10.0     1.0     CA      Kings     CA
1150    144.0     4.0     GA   Richmond     GA
1897      5.0     0.0     VA   Richmond     VA
2044     10.0     1.0     NC   Richmond     NC
2649  20641.6  1379.6     NY  Manhattan     NY
2650  20641.6  1379.6     NY     Queens     NY
2651  20641.6  1379.6     NY      Kings     NY
2652  20641.6  1379.6     NY      Bronx     NY
2653  20641.6  1379.6     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-13.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
1015 2020-04-13  13245  83.0   Richmond         Georgia        NaN      NaN
1222 2020-04-13   6031  83.0      Kings      California        NaN      NaN
1978 2020-04-13  51159  83.0   Richmond        Virginia        NaN      NaN
2121 2020-04-13  37153  83.0   Richmond  North Carolina        NaN      NaN
2662 2020-04-13  36061  22.0  Manhattan        New York        0.0  19882.8
2663 2020-04-13  36081  22.0     Queens        New York        0.0  19882.8
2664 2020-04-13  36047  22.0      Kings        New York        0.0  19882.8
2665 2020-04-13  36005  22.0      Bronx        New York        0.0  19882.8
2666 2020-04-13  36085  22.0   Richmond        New York        0.0  19882.8

        Cases  Deaths Code_x   County_y Code_y
1015    156.0     6.0     GA   Richmond     GA
1222     12.0     1.0     CA      Kings     CA
1978      5.0     0.0     VA   Richmond     VA
2121     10.0     1.0     NC   Richmond     NC
2662  21352.6  1469.8     NY  Manhattan     NY
2663  21352.6  1469.8     NY     Queens     NY
2664  21352.6  1469.8     NY      Kings     NY
2665  21352.6  1469.8     NY      Bronx     NY
2666  21352.6  1469.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-14.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
1019 2020-04-14  37153  84.0   Richmond  North Carolina        NaN      NaN
1203 2020-04-14  13245  84.0   Richmond         Georgia        NaN      NaN
1559 2020-04-14   6031  84.0      Kings      California        NaN      NaN
2298 2020-04-14  51159  84.0   Richmond        Virginia        NaN      NaN
2676 2020-04-14  36061  23.0  Manhattan        New York        0.0  20512.0
2677 2020-04-14  36081  23.0     Queens        New York        0.0  20512.0
2678 2020-04-14  36047  23.0      Kings        New York        0.0  20512.0
2679 2020-04-14  36005  23.0      Bronx        New York        0.0  20512.0
2680 2020-04-14  36085  23.0   Richmond        New York        0.0  20512.0

        Cases  Deaths Code_x   County_y Code_y
1019     12.0     1.0     NC   Richmond     NC
1203    162.0     7.0     GA   Richmond     GA
1559     13.0     1.0     CA      Kings     CA
2298      7.0     0.0     VA   Richmond     VA
2676  22093.0  1581.0     NY  Manhattan     NY
2677  22093.0  1581.0     NY     Queens     NY
2678  22093.0  1581.0     NY      Kings     NY
2679  22093.0  1581.0     NY      Bronx     NY
2680  22093.0  1581.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-15.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
111  2020-04-15  37153  85.0   Richmond  North Carolina        NaN      NaN
692  2020-04-15  51159  85.0   Richmond        Virginia        NaN      NaN
1417 2020-04-15  13245  85.0   Richmond         Georgia        NaN      NaN
2008 2020-04-15   6031  85.0      Kings      California        NaN      NaN
2691 2020-04-15  36061  24.0  Manhattan        New York        0.0  21969.4
2692 2020-04-15  36081  24.0     Queens        New York        0.0  21969.4
2693 2020-04-15  36047  24.0      Kings        New York        0.0  21969.4
2694 2020-04-15  36005  24.0      Bronx        New York        0.0  21969.4
2695 2020-04-15  36085  24.0   Richmond        New York        0.0  21969.4

        Cases  Deaths Code_x   County_y Code_y
111      12.0     1.0     NC   Richmond     NC
692       7.0     0.0     VA   Richmond     VA
1417    169.0     8.0     GA   Richmond     GA
2008     13.0     1.0     CA      Kings     CA
2691  23660.4  1691.0     NY  Manhattan     NY
2692  23660.4  1691.0     NY     Queens     NY
2693  23660.4  1691.0     NY      Kings     NY
2694  23660.4  1691.0     NY      Bronx     NY
2695  23660.4  1691.0     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-16.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
1126 2020-04-16   6031  86.0      Kings      California        NaN      NaN
1429 2020-04-16  13245  86.0   Richmond         Georgia        NaN      NaN
2020 2020-04-16  51159  86.0   Richmond        Virginia        NaN      NaN
2361 2020-04-16  37153  86.0   Richmond  North Carolina        NaN      NaN
2703 2020-04-16  36061  25.0  Manhattan        New York        0.0  22333.8
2704 2020-04-16  36081  25.0     Queens        New York        0.0  22333.8
2705 2020-04-16  36047  25.0      Kings        New York        0.0  22333.8
2706 2020-04-16  36005  25.0      Bronx        New York        0.0  22333.8
2707 2020-04-16  36085  25.0   Richmond        New York        0.0  22333.8

        Cases  Deaths Code_x   County_y Code_y
1126     18.0     1.0     CA      Kings     CA
1429    231.0     9.0     GA   Richmond     GA
2020      7.0     0.0     VA   Richmond     VA
2361     15.0     1.0     NC   Richmond     NC
2703  24629.2  2295.4     NY  Manhattan     NY
2704  24629.2  2295.4     NY     Queens     NY
2705  24629.2  2295.4     NY      Kings     NY
2706  24629.2  2295.4     NY      Bronx     NY
2707  24629.2  2295.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-17.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
861  2020-04-17  13245  87.0   Richmond         Georgia        NaN      NaN
1567 2020-04-17  51159  87.0   Richmond        Virginia        NaN      NaN
2141 2020-04-17  37153  87.0   Richmond  North Carolina        NaN      NaN
2503 2020-04-17   6031  87.0      Kings      California        NaN      NaN
2716 2020-04-17  36061  26.0  Manhattan        New York        0.0  22830.0
2717 2020-04-17  36081  26.0     Queens        New York        0.0  22830.0
2718 2020-04-17  36047  26.0      Kings        New York        0.0  22830.0
2719 2020-04-17  36005  26.0      Bronx        New York        0.0  22830.0
2720 2020-04-17  36085  26.0   Richmond        New York        0.0  22830.0

        Cases  Deaths Code_x   County_y Code_y
861     246.0    10.0     GA   Richmond     GA
1567      8.0     0.0     VA   Richmond     VA
2141     17.0     2.0     NC   Richmond     NC
2503     20.0     1.0     CA      Kings     CA
2716  25470.4  2640.4     NY  Manhattan     NY
2717  25470.4  2640.4     NY     Queens     NY
2718  25470.4  2640.4     NY      Kings     NY
2719  25470.4  2640.4     NY      Bronx     NY
2720  25470.4  2640.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-18.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
177  2020-04-18  37153  88.0   Richmond  North Carolina        NaN      NaN
1413 2020-04-18  13245  88.0   Richmond         Georgia        NaN      NaN
1765 2020-04-18   6031  88.0      Kings      California        NaN      NaN
2411 2020-04-18  51159  88.0   Richmond        Virginia        NaN      NaN
2729 2020-04-18  36061  27.0  Manhattan        New York        0.0  24474.0
2730 2020-04-18  36081  27.0     Queens        New York        0.0  24474.0
2731 2020-04-18  36047  27.0      Kings        New York        0.0  24474.0
2732 2020-04-18  36005  27.0      Bronx        New York        0.0  24474.0
2733 2020-04-18  36085  27.0   Richmond        New York        0.0  24474.0

        Cases  Deaths Code_x   County_y Code_y
177      18.0     2.0     NC   Richmond     NC
1413    262.0    10.0     GA   Richmond     GA
1765     28.0     1.0     CA      Kings     CA
2411      8.0     0.0     VA   Richmond     VA
2729  27114.4  2640.4     NY  Manhattan     NY
2730  27114.4  2640.4     NY     Queens     NY
2731  27114.4  2640.4     NY      Kings     NY
2732  27114.4  2640.4     NY      Bronx     NY
2733  27114.4  2640.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-19.csv

           Date   FIPS   Day   County_x           State  Recovered   Active  \
125  2020-04-19   6031  89.0      Kings      California        NaN      NaN
270  2020-04-19  13245  89.0   Richmond         Georgia        NaN      NaN
1283 2020-04-19  51159  89.0   Richmond        Virginia        NaN      NaN
2397 2020-04-19  37153  89.0   Richmond  North Carolina        NaN      NaN
2740 2020-04-19  36061  28.0  Manhattan        New York        0.0  24849.8
2741 2020-04-19  36081  28.0     Queens        New York        0.0  24849.8
2742 2020-04-19  36047  28.0      Kings        New York        0.0  24849.8
2743 2020-04-19  36005  28.0      Bronx        New York        0.0  24849.8
2744 2020-04-19  36085  28.0   Richmond        New York        0.0  24849.8

        Cases  Deaths Code_x   County_y Code_y
125      30.0     1.0     CA      Kings     CA
270     264.0    10.0     GA   Richmond     GA
1283      9.0     0.0     VA   Richmond     VA
2397     19.0     2.0     NC   Richmond     NC
2740  27740.0  2890.2     NY  Manhattan     NY
2741  27740.0  2890.2     NY     Queens     NY
2742  27740.0  2890.2     NY      Kings     NY
2743  27740.0  2890.2     NY      Bronx     NY
2744  27740.0  2890.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-20.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
31   2020-04-20  13245  90.0   Richmond         Georgia        NaN      NaN
730  2020-04-20   6031  90.0      Kings      California        NaN      NaN
2177 2020-04-20  37153  90.0   Richmond  North Carolina        NaN      NaN
2508 2020-04-20  51159  90.0   Richmond        Virginia        NaN      NaN
2747 2020-04-20  36061  29.0  Manhattan        New York        0.0  25326.2
2748 2020-04-20  36081  29.0     Queens        New York        0.0  25326.2
2749 2020-04-20  36047  29.0      Kings        New York        0.0  25326.2
2750 2020-04-20  36005  29.0      Bronx        New York        0.0  25326.2
2751 2020-04-20  36085  29.0   Richmond        New York        0.0  25326.2

        Cases  Deaths Code_x   County_y Code_y
31      283.0    11.0     GA   Richmond     GA
730      30.0     1.0     CA      Kings     CA
2177     20.0     2.0     NC   Richmond     NC
2508      9.0     0.0     VA   Richmond     VA
2747  28247.0  2920.8     NY  Manhattan     NY
2748  28247.0  2920.8     NY     Queens     NY
2749  28247.0  2920.8     NY      Kings     NY
2750  28247.0  2920.8     NY      Bronx     NY
2751  28247.0  2920.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-21.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
883  2020-04-21  13245  91.0   Richmond         Georgia        NaN      NaN
1666 2020-04-21  51159  91.0   Richmond        Virginia        NaN      NaN
1837 2020-04-21  37153  91.0   Richmond  North Carolina        NaN      NaN
2694 2020-04-21   6031  91.0      Kings      California        NaN      NaN
2755 2020-04-21  36061  30.0  Manhattan        New York        0.0  25860.6
2756 2020-04-21  36081  30.0     Queens        New York        0.0  25860.6
2757 2020-04-21  36047  30.0      Kings        New York        0.0  25860.6
2758 2020-04-21  36005  30.0      Bronx        New York        0.0  25860.6
2759 2020-04-21  36085  30.0   Richmond        New York        0.0  25860.6

        Cases  Deaths Code_x   County_y Code_y
883     294.0    12.0     GA   Richmond     GA
1666     53.0     0.0     VA   Richmond     VA
1837     20.0     2.0     NC   Richmond     NC
2694     32.0     1.0     CA      Kings     CA
2755  28838.0  2977.4     NY  Manhattan     NY
2756  28838.0  2977.4     NY     Queens     NY
2757  28838.0  2977.4     NY      Kings     NY
2758  28838.0  2977.4     NY      Bronx     NY
2759  28838.0  2977.4     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-22.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
262  2020-04-22  13245  92.0   Richmond         Georgia        NaN      NaN
697  2020-04-22  51159  92.0   Richmond        Virginia        NaN      NaN
1113 2020-04-22   6031  92.0      Kings      California        NaN      NaN
1634 2020-04-22  37153  92.0   Richmond  North Carolina        NaN      NaN
2763 2020-04-22  36061  31.0  Manhattan        New York        0.0  26444.6
2764 2020-04-22  36081  31.0     Queens        New York        0.0  26444.6
2765 2020-04-22  36047  31.0      Kings        New York        0.0  26444.6
2766 2020-04-22  36005  31.0      Bronx        New York        0.0  26444.6
2767 2020-04-22  36085  31.0   Richmond        New York        0.0  26444.6

        Cases  Deaths Code_x   County_y Code_y
262     313.0    13.0     GA   Richmond     GA
697      53.0     0.0     VA   Richmond     VA
1113     32.0     1.0     CA      Kings     CA
1634     22.0     2.0     NC   Richmond     NC
2763  29459.4  3014.8     NY  Manhattan     NY
2764  29459.4  3014.8     NY     Queens     NY
2765  29459.4  3014.8     NY      Kings     NY
2766  29459.4  3014.8     NY      Bronx     NY
2767  29459.4  3014.8     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-23.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
85   2020-04-23   6031  93.0      Kings      California        NaN      NaN
1264 2020-04-23  51159  93.0   Richmond        Virginia        NaN      NaN
1828 2020-04-23  13245  93.0   Richmond         Georgia        NaN      NaN
2402 2020-04-23  37153  93.0   Richmond  North Carolina        NaN      NaN
2774 2020-04-23  36061  32.0  Manhattan        New York        0.0  25893.4
2775 2020-04-23  36081  32.0     Queens        New York        0.0  25893.4
2776 2020-04-23  36047  32.0      Kings        New York        0.0  25893.4
2777 2020-04-23  36005  32.0      Bronx        New York        0.0  25893.4
2778 2020-04-23  36085  32.0   Richmond        New York        0.0  25893.4

        Cases  Deaths Code_x   County_y Code_y
85       35.0     1.0     CA      Kings     CA
1264     66.0     0.0     VA   Richmond     VA
1828    335.0    14.0     GA   Richmond     GA
2402     28.0     2.0     NC   Richmond     NC
2774  29171.0  3277.6     NY  Manhattan     NY
2775  29171.0  3277.6     NY     Queens     NY
2776  29171.0  3277.6     NY      Kings     NY
2777  29171.0  3277.6     NY      Bronx     NY
2778  29171.0  3277.6     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-24.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
1033 2020-04-24  37153  94.0   Richmond  North Carolina        NaN      NaN
1137 2020-04-24   6031  94.0      Kings      California        NaN      NaN
1192 2020-04-24  13245  94.0   Richmond         Georgia        NaN      NaN
2250 2020-04-24  51159  94.0   Richmond        Virginia        NaN      NaN
2782 2020-04-24  36061  33.0  Manhattan        New York        0.0  26765.4
2783 2020-04-24  36081  33.0     Queens        New York        0.0  26765.4
2784 2020-04-24  36047  33.0      Kings        New York        0.0  26765.4
2785 2020-04-24  36005  33.0      Bronx        New York        0.0  26765.4
2786 2020-04-24  36085  33.0   Richmond        New York        0.0  26765.4

        Cases  Deaths Code_x   County_y Code_y
1033     30.0     2.0     NC   Richmond     NC
1137     47.0     1.0     CA      Kings     CA
1192    353.0    14.0     GA   Richmond     GA
2250     66.0     0.0     VA   Richmond     VA
2782  30094.6  3329.2     NY  Manhattan     NY
2783  30094.6  3329.2     NY     Queens     NY
2784  30094.6  3329.2     NY      Kings     NY
2785  30094.6  3329.2     NY      Bronx     NY
2786  30094.6  3329.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-25.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
115  2020-04-25  37153  95.0   Richmond  North Carolina        NaN      NaN
707  2020-04-25  51159  95.0   Richmond        Virginia        NaN      NaN
1424 2020-04-25  13245  95.0   Richmond         Georgia        NaN      NaN
2036 2020-04-25   6031  95.0      Kings      California        NaN      NaN
2792 2020-04-25  36061  34.0  Manhattan        New York        0.0  27597.4
2793 2020-04-25  36081  34.0     Queens        New York        0.0  27597.4
2794 2020-04-25  36047  34.0      Kings        New York        0.0  27597.4
2795 2020-04-25  36005  34.0      Bronx        New York        0.0  27597.4
2796 2020-04-25  36085  34.0   Richmond        New York        0.0  27597.4

        Cases  Deaths Code_x   County_y Code_y
115      36.0     2.0     NC   Richmond     NC
707      79.0     0.0     VA   Richmond     VA
1424    355.0    14.0     GA   Richmond     GA
2036     52.0     1.0     CA      Kings     CA
2792  31022.6  3425.2     NY  Manhattan     NY
2793  31022.6  3425.2     NY     Queens     NY
2794  31022.6  3425.2     NY      Kings     NY
2795  31022.6  3425.2     NY      Bronx     NY
2796  31022.6  3425.2     NY   Richmond     NY
Testing... ../../covid-19/data/county_data/date_2020-04-26.csv
           Date   FIPS   Day   County_x           State  Recovered   Active  \
113  2020-04-26  37153  96.0   Richmond  North Carolina        NaN      NaN
704  2020-04-26  51159  96.0   Richmond        Virginia        NaN      NaN
1440 2020-04-26  13245  96.0   Richmond         Georgia        NaN      NaN
2041 2020-04-26   6031  96.0      Kings      California        NaN      NaN
2794 2020-04-26  36061  35.0  Manhattan        New York        0.0  28195.6
2795 2020-04-26  36081  35.0     Queens        New York        0.0  28195.6
2796 2020-04-26  36047  35.0      Kings        New York        0.0  28195.6
2797 2020-04-26  36005  35.0      Bronx        New York        0.0  28195.6
2798 2020-04-26  36085  35.0   Richmond        New York        0.0  28195.6

        Cases  Deaths Code_x   County_y Code_y
113      36.0     2.0     NC   Richmond     NC
704      89.0     0.0     VA   Richmond     VA
1440    360.0    14.0     GA   Richmond     GA
2041     67.0     1.0     CA      Kings     CA
2794  31651.6  3456.0     NY  Manhattan     NY
2795  31651.6  3456.0     NY     Queens     NY
2796  31651.6  3456.0     NY      Kings     NY
2797  31651.6  3456.0     NY      Bronx     NY
2798  31651.6  3456.0     NY   Richmond     NY

In [20]:
df2 = df[['Date','Day','State','Recovered','Active','Cases','Deaths']]\
    .groupby(['Date','State'])\
    .sum()\
    .reset_index() #.drop('Day', axis=1)

In [21]:
df3 = pd.merge(df2, states, how='left', on='State')
df3['Recovered'] = df3['Recovered'].map(lambda x: int(x))
df3['Active'] = df3['Active'].map(lambda x: int(x))

In [22]:
print(df3.shape)
df3.head()

(2850, 8)

        Date       State  Day  Recovered  Active  Cases  Deaths Code
0 2020-01-21  Washington    0          0       0      1       0   WA
1 2020-01-22  Washington    1          0       0      1       0   WA
2 2020-01-23  Washington    2          0       0      1       0   WA
3 2020-01-24    Illinois    3          0       0      1       0   IL
4 2020-01-24  Washington    3          0       0      1       0   WA

In [23]:
df3.to_csv('../../covid-19/data/daily_cases_USA_states.csv', index=False)

In [24]:
print(pd.read_csv('../../covid-19/data/daily_cases_USA_states.csv').shape)
pd.read_csv('../../covid-19/data/daily_cases_USA_states.csv').head()

(2850, 8)

         Date       State  Day  Recovered  Active  Cases  Deaths Code
0  2020-01-21  Washington    0          0       0      1       0   WA
1  2020-01-22  Washington    1          0       0      1       0   WA
2  2020-01-23  Washington    2          0       0      1       0   WA
3  2020-01-24    Illinois    3          0       0      1       0   IL
4  2020-01-24  Washington    3          0       0      1       0   WA

In [25]:
df4 = df_[['Date', 'County','Recovered','Active','Cases','Deaths','Code']]\
    .groupby(['Date','County','Code'])\
    .sum()\
    .reset_index()
df4['Recovered'] = df4['Recovered'].map(lambda x: int(x))
df4['Active'] = df4['Active'].map(lambda x: int(x))

In [26]:
print(df4.shape)
df4.head()

(91455, 7)

        Date     County Code  Recovered  Active  Cases  Deaths
0 2020-01-21  Snohomish   WA          0       0      1       0
1 2020-01-22  Snohomish   WA          0       0      1       0
2 2020-01-23  Snohomish   WA          0       0      1       0
3 2020-01-24       Cook   IL          0       0      1       0
4 2020-01-24  Snohomish   WA          0       0      1       0

In [27]:
df4.to_csv('../../covid-19/data/daily_cases_USA_counties.csv', index=False)

In [28]:
print(pd.read_csv('../../covid-19/data/daily_cases_USA_counties.csv').shape)
pd.read_csv('../../covid-19/data/daily_cases_USA_counties.csv').head()

(91455, 7)

         Date     County Code  Recovered  Active  Cases  Deaths
0  2020-01-21  Snohomish   WA          0       0      1       0
1  2020-01-22  Snohomish   WA          0       0      1       0
2  2020-01-23  Snohomish   WA          0       0      1       0
3  2020-01-24       Cook   IL          0       0      1       0
4  2020-01-24  Snohomish   WA          0       0      1       0

In [29]:
df4.Date.min(), df4.Date.max()

(Timestamp('2020-01-21 00:00:00'), Timestamp('2020-04-26 00:00:00'))

In [30]:
df4[df4['Date']=='2020-04-22'].Cases.sum()

827958